* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(179, 167, 187);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: 30px;
}

#main_container {
    display: grid;
    width: 90%;
    height: 80vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    margin-left: auto;
    margin-right: auto;
    
}

#container_1 {
    grid-row: span 2;
    display: flex;
    border: 1px solid black;
    
}

.grid-row {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    background-color: white;
    
}

.square {
    flex: 1 1 0;
    border: 0.5px solid rgb(0, 0, 0);
}

#container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#squaresNumber {
    font-size: 22px;
    width: 120px
}

#container_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btns_colors {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

#btns_colors > button {
    height: 36px;
    width: 36px;
}

#red {
    background-color: red;
}

#orange {
    background-color: orange;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#purple{
    background-color: purple;
}

#pink {
    background-color: pink;
}

#brown {
    background-color: brown;
}

#black {
    background-color: black;
}

#white {
    background-color: white;
}







